<!DOCTYPE html>
<html>

<head>
    <title>My first Vue app</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        {{ message }}
    </div>
    <!-- 声明式渲染 -->
    <div id="app2">
        <span v-bind:title="message">
            bind message after hover a few seconds!
        </span>
    </div>
    <!-- 条件 -->
    <div id="app3">
        <p v-if="seen">
            Now you see me!
        </p>
    </div>
    <!-- 循环 -->
    <div id="app4">
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>
    </div>
    <!-- 事件监听器 -->
    <div id="app5">
        <p>{{ message }}</p>
        <button v-on:click="reverseFn">Reverse!</button>
    </div>
    <!-- 双向绑定 -->
    <div id="app6">
        <p>{{ message }}</p>
        <input v-model="message">
    </div>
    <!-- 组件 -->
    <div id="app7">
        <ol>
            <todo-item
             v-for="item in groceryList"
             v-bind:todo="item"
             v-bind:key="item.id"
            ></todo-item>
        </ol>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!'
            }
        })
        var app2 = new Vue({
            el: '#app2',
            data: {
                message: "Page loaded at " + new Date().toLocaleString()
            }
        })
        var app3 = new Vue({
            el: '#app3',
            data: {
                seen: true
            }
        }) 
        var app4 = new Vue({
            el: '#app4',
            data: {
                todos: [
                    { text : 'Learn JavaScript'},
                    { text : 'Learn ES6'},
                    { text : 'Learn Vue'}
                ]
            }
        })
        var app5 = new Vue({
            el: '#app5',
            data: {
                message: 'Hello Vue.js!'
            },
            methods: {
                reverseFn: function() {
                    this.message = this.message.split('').reverse().join('');
                }
            }
        })
        var app6 = new Vue({
            el: '#app6',
            data: {
                message: 'Hello Vue.js!' 
            }
        })
        Vue.component('todo-item', {
            props: ['todo'],
            template: '<li>{{ todo.text }}</li>'
        })
        var app7 = new Vue({
            el: '#app7',
            data: {
                groceryList: [
                    {id: 0, text: 'vegetable'},
                    {id: 1, text: 'fruit'},
                    {id: 2, text: 'food to eat'}
                ]
            }
        })
    </script>


</body>

</html>